{% extends 'front/front_base.html' %}
{% from 'common/_macros.html' import static %}

{% block title -%}
知了课堂Python论坛
{%- endblock %}

{% block head %}
<link rel="stylesheet" href="{{ static("front/css/front_index.css") }}">
{% endblock %}

{% block body %}
<div class="lg-container">
  <div id="carousel-example-generic" class="carousel slide index-banner" data-ride="carousel">
    <!-- TODO: 指示器 -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- TODO: 轮播图 -->
    <div class="carousel-inner" role="listbox">
      <div class="item">
        <div class="item">
          <a href="#">
            <img src="https://img13.360buyimg.com/pop/s1180x940_jfs/t1/119527/16/1412/55548/5ea409c0E6412d8c9/83b5d2421edd25e4.jpg.webp" alt="">
          </a>
        </div>
      </div>
      <!-- TODO: 左右切换的控制按钮 -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}