
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>登录--CMS管理系统</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename="cms/css/signin.css") }}" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="{{ url_for('cms.login') }}" method="post">
        <h2 class="form-signin-heading">登录</h2><input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label for="inputEmail" class="sr-only">邮箱：</label>
        <input type="email" id="inputEmail" class="form-control" name="email" value="admin@qq.com" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">密码：</label>
        <input type="password" id="inputPassword" class="form-control" name="password" value="admin123" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="1" name="remember"> 记住我
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>
        {% if messages %}
            <p class="text-danger" style="text-align: center;">{{messages}}</p>
        {% endif %}
    </div>
  </body>
</html>
